@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@700&family=Passion+One:wght@700&display=swap');

* {
    box-sizing: border-box;
}

@media (max-width: 1080px){
    #root {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}